---
export interface Props {
	title: string;
	text: string;
}

const { title, text } = Astro.props;
---

<section
	class="flex h-auto flex-col justify-end border-b border-black pb-8 pt-8 last-of-type:border-b-0 md:h-[30rem] md:odd:border-r md:odd:pr-8 md:even:pl-8 lg:h-[25rem]"
>
	<h3 class="mb-4 font-serif text-xl font-extrabold md:text-2xl lg:text-4xl">
		{title}
	</h3>
	<p class="text-lg font-medium">{text}</p>
</section>
