---
export interface Props {
	title: string;
	text: string;
}

const { title, text } = Astro.props;
---

<section
	class="flex flex-col justify-end h-auto border-b border-black pt-8 pb-8 md:even:pl-8 md:odd:border-r md:odd:pr-8 last-of-type:border-b-0 md:h-[30rem] lg:h-[25rem]"
>
	<h3 class="text-xl font-serif font-extrabold mb-4 md:text-2xl lg:text-4xl">{title}</h3>
	<p class="text-lg font-medium">{text}</p>
</section>
