---
import NoteLink from "@components/ui/NoteLink.astro";
---

<section
  id="la-maternidad-actual-es-esclavitud-de-hecho-para-la-mujer"
  class="mb-16 flex flex-col gap-4 text-lg font-medium"
>
  <header class="sticky top-0 z-10 -mt-8 bg-zinc-50 pb-4 pt-8">
    <h3
      class="pb-0 pr-4 font-serif text-lg font-bold md:pb-4 md:text-xl lg:text-3xl"
    >
      La maternidad actual es esclavitud de hecho para la mujer
    </h3>
  </header>

  <p>
    El modelo actual dominante de maternidad es una esclavitud de hecho para la
    mujer, debido a varias cosas: una es el océano de <b>ignorancia</b>
    que la niega y que la obliga a sobrevivir arrinconada en la sombra de la cultura;
    y otra, las mismas condiciones de indigencia y de <b>precariedad</b> en las que
    se desarrolla. Ambas cosas, precariedad e ignorancia, se retroalimentan una con
    otra bajo un magma de normalidad que lo
    <b>invisibiliza</b> todo. Incluso la generalización de los pezones de plástico
    está normalizada, haciendo invisible la falta de madre, el vacío de maternidad<NoteLink
      href="_03"
      text="3"
    />. Lo peor del chupete no es que el pezón sea de plástico, sino el cuerpo
    que falta detrás del chupete.
  </p>
  <p>
    Aparte de los sectores más reaccionarios de la sociedad, que siguen
    considerando que la maternidad es el destino único de la mujer, existe un
    discurso en ciertos sectores del feminismo de la igualdad y un sorprendente
    consenso de la izquierda y la derecha que suscriben esta condición de la
    maternidad como esclavitud. Piensan que es la maternidad lo que esclaviza y
    no las condiciones culturales y sociales en las que ésta se desarrolla. El
    argumento de que la maternidad es una opción personal y privada, que quien
    opta por ella "ya sabe lo que le espera y que se las apañe como pueda" es de
    una hipocresía digna de los mejores discursos patriarcales. Si hay una
    mayoría de mujeres que optan por ser madres, a pesar de la precariedad y de
    las dificultades, es porque existe un deseo materno que forma parte de
    nuestras pulsiones sexuales. El meollo de la cuestión está en este punto, en
    admitir esta otra importantísima verdad: la realidad de una pulsión amorosa,
    sexual y emocional específica de la maternidad, que descarga y expande
    nuestro potencial libidinal; es el deseo materno que forma parte de la
    sexualidad femenina. Es una pulsión orgánica, psicosomática, 3 que cursa con
    una gran carga emocional, y que brota del cuerpo femenino para implementar
    los procesos maternales de manera placentera y con el mayor bienestar físico
    y psíquico. Como afirman varias autoras feministas: la biología no es el
    enemigo sino la fuente de la revolución feminista, y no tiene nada que ver
    con la visión determinista de la biología existente en ciertos sectores.
  </p>
  <p>
    El deseo materno existe y coexiste con la esclavitud. Existe, brota y es
    sistemáticamente reprimido por todas las condiciones adversas que impiden el
    desarrollo físico de la maternidad.
  </p>
  <p>
    Uno de los aspectos importantes de la <b>precariedad</b> de la maternidad actual
    es la falta de tejido social. La maternidad no es sólo una cuestión individual,
    requiere de un <b>tejido social y comunitario</b> que la sostenga; y la familia
    nuclear no es suficiente para proporcionar el sostén básico necesario. Con la
    creciente desaparición de la familia extensa está extinguiéndose el tejido social
    necesario para una maternidad sostenible. En la actualidad, las familias con
    suficientes recursos económicos solucionan la falta de tejido social con trabajo
    mercenario, casi siempre precario y realizado por las mujeres con menos recursos.
    Para la mayoría de madres la única solución es un sobreesfuerzo que a menudo
    rebasa los límites de su salud física y psíquica. La falta de tejido social que
    sostenga la díada madre-criatura sólo se palía en la actualidad con un apoyo
    mutuo extraordinario y muy activo del entorno social inmediato de la madre, como
    los grupos de apoyo a la lactancia materna y otros grupos de ayuda mutua.
  </p>
  <p>
    Otro aspecto crucial es la <b>precariedad</b> económica en que la maternidad
    tiene lugar. El régimen económico de nuestra sociedad contabiliza el coste de
    la producción pero no de la reproducción. Para el Capital, la reproducción ha
    sido siempre gratis, considerándola una cuestión "privada", sin reconocimiento
    de su condición social, y que recae en el esfuerzo "privado" y corporal de las
    mujeres. A este esfuerzo añadimos el económico: porque la maternidad sí tiene
    un coste económico, que se traduce en una sobreexplotación y empobrecimiento
    de las mujeres. Situación que se acrecienta con la ausencia de derechos y recursos
    para maternar. Por ejemplo, en nuestro país, ni siquiera se contempla un permiso
    de maternidad <b>universal</b> de un año, como sucede en otros países europeos
    y latinoamericanos, ni hay una oferta económica razonable para todos los años
    de crianza.
  </p>
  <p>
    Otro aspecto más que contribuye al modelo de maternidad-esclavitud es la
    <b>invisibilidad</b> de los cuidados que comporta la maternidad: se invisibiliza
    para el mundo entero menos para la madre que la vive, lo que encima le produce
    una sensación de gran <b>soledad</b>. La invisibilidad es posible gracias a
    una ignorancia, generalizada y establecida, sobre los procesos psíquicos,
    fisiológicos y sociales. Pese a la información aportada también por la
    ciencia, la ignorancia se mantiene estratégicamente para reproducir la
    invisibilidad que hace posible la represión de los procesos de la maternidad
    y el estado de subordinación social y económica de la mujer. El actual
    modelo dominante de maternidad es el principal factor de discriminación y de
    desigualdad para la mujer; y esto deberían tenerlo en cuenta quienes luchan
    por la igualdad de los géneros.
  </p>
  <p>
    La ignorancia borra el <i>continuum</i> de los procesos, los trocea rompiendo
    el encadenamiento de las etapas, negando las necesidades de cada ciclo vital;
    necesidades que son tan invisibles como reales e ineludibles, y así recaen inexorablemente
    sobre las madres.
  </p>
  <p>
    Esta ignorancia ni siquiera reconoce los hallazgos científicos abrumadores,
    que confirman la experiencia y el conocimiento ancestral de las mujeres, y
    que aportan pruebas irrefutables acerca de las consecuencias catastróficas
    del actual modelo imperante de maternidad, tanto en el plano individual como
    social.
  </p>
  <p>
    La ignorancia se ceba en los protocolos de la Obstetricia y de la Pediatría,
    que se resisten a ser actualizados o a ser implantados de acuerdo con la
    información aportada desde distintos campos del conocimiento, por ejemplo la
    misma investigación clínica neonatal<NoteLink href="_04" text="4" />, con
    los hallazgos de la neurobiología<NoteLink href="_05" text="5" />, o con los
    estudios epidemiológicos<NoteLink href="_06" text="6" />. Y así, continúan
    pautando y recetando una intervención iatrogénica, es decir, que provoca
    efectos nocivos y acumulativos a contracorriente de los procesos de la
    maternidad. Ni siquiera se ha desarrollado la Estrategia de Atención al
    Parto Normal del Ministerio de Sanidad del año 2007 y revisado en 2015<NoteLink
      href="_07"
      text="7"
    />. De este modo se realiza, de forma sistemática y con el amparo
    institucional, un claro y brutal sabotaje a la maternidad.
  </p>
  <p>
    El deseo materno es sabio. Las pulsiones sexuales y emocionales maternales
    propician la sincronía fisiológica y psíquica entre madre y criatura;
    aseguran el continuum de los procesos, el equilibrio neuroendocrino y la
    estabilidad emocional que sustenta la formación de la diada, el cuerpo a
    cuerpo de la madre y la criatura.
  </p>
  <p>
    La ciencia ha demostrado<NoteLink href="_08" text="8" /> que el <b
      >periodo perinatal</b
    > y los mil primeros días de vida<NoteLink href="_09" text="9" /> son críticos
    en la formación del ser humano y todo lo que acontece en este periodo tiene consecuencias
    de por vida para las madres, las criaturas y el conjunto de la sociedad<NoteLink
      href="_04"
      text="4"
    />.
  </p>
  <p>
    Mencionaremos sólo dos aspectos del sabotaje a la maternidad en el periodo
    perinatal.
  </p>
  <ol class="flex list-inside list-decimal flex-col gap-2">
    <li>
      El parto es un proceso sexual y, como tal, está regido por la parte
      ancestral de nuestro cerebro. Requiere, por tanto, de la inhibición del
      neocortex y de una total intimidad. Sin embargo, los protocolos vigentes
      de la maternidad hospitalaria no contemplan el parto como un proceso
      sexual, sino como un proceso fisiológico independiente de la sexualidad;
      no respetan la inhibición neocortical y sabotean de forma sistemática el
      desarrollo de la función del útero en el parto natural. Es una
      incongruencia que la medicina oficial ignore la dimensión emocional de la
      maternidad y, sin embargo, utilice la oxitocina sintética en los partos.
      La oxitocina es la hormona del amor que producimos cuando nos brota el
      deseo.
    </li>
    <li>
      La separación de la madre de la criatura en el inmediato posparto es otra
      intervención iatrogénica de la obstetricia en el periodo perinatal.
    </li>
  </ol>
  <p>
    En el posparto inmediato tiene lugar, en el cuerpo que acaba de dar a luz,
    una descarga de hormonas y pulsiones que mantiene a la madre unida en
    sincronía física y psíquica con el bebé, siendo uno de los estados
    emocionales más fuertes de la vida de mujeres <b>y criaturas</b>. Si se
    produce una separación en este momento, se interrumpe ese proceso,
    ocasionando un daño difícil de reparar. Es un momento crítico, único e
    irrepetible. La impronta son las 5 descargas de oxitocina más altas de la
    vida de la mujer; es una gran eclosión del deseo materno destinada a
    asegurar el tránsito y la continuidad de la gestación en la etapa
    extrauterina. Emocionalmente, es una sensación de extrema felicidad y
    éxtasis; fisiológicamente, promueve la atracción de la criatura, la
    expulsión de la placenta y el inicio de la lactación. Reprimir la impronta,
    con la separación física de la criatura o estimulación neocortical de la
    madre, cortocircuita de forma muy grave el <i>continuum</i> de la maternidad
    y es una auténtica violación de los cuerpos humanos<NoteLink
      href="_04"
      text="4"
    />.
  </p>
  <p>
    La separación de la criatura de su madre ha sido clave en las estrategias
    patriarcales desde los tiempos más antiguos, y lo sigue siendo en la
    actualidad.
  </p>
  <p>
    Los vientres de alquiler son el colmo de esta estrategia, pues directamente
    establecen por norma separar a la criatura de la madre que la ha gestado.
    Interrumpir la transición de la gestación intra a la extrauterina en el
    momento crítico es un crimen contra la madre y la criatura. De hecho, los
    vientres de alquiler son un grave crimen contra la condición humana.
  </p>
  <p>
    Tras el periodo perinatal, la exterogestación se desarrolla impidiendo en la
    práctica el cuerpo a cuerpo con la madre. La imposibilidad en las
    condiciones actuales de que ésta yazca con la criatura durante la cuarentena
    y, después, la falta de la práctica del porteo, dificultan el cuerpo a
    cuerpo con la madre durante este periodo.
  </p>
  <p>
    El primer derecho, el más básico, del ser humano es el derecho a nacer
    siendo deseado y con una madre verdadera y presente durante todo el proceso
    de exterogestación. El actual sistema patriarcal no permite desarrollar una
    maternidad plena y gozosa, sino que fomenta la creación de madres
    patriarcales, rígidas y desvinculadas de sus criaturas. Esto lo consigue a
    través de la desvalorización de la maternidad, la falta de tejido social, la
    falta de apoyo y la ausencia de derechos y recursos, por ejemplo, la falta
    de ingresos directos a las familias, de permisos amplios y, en general, por
    un sistema centrado en el empleo y no en la vida. En la actualidad existe un
    vacío institucional de políticas públicas de apoyo a las madres; y las
    escasas políticas existentes promueven y afirman la separación de sus
    criaturas, por ejemplo a través de la externalización de los cuidados.
  </p>
  <p>
    Otra medida actual, los permisos iguales e intransferibles para madres y
    padres, de 16 semanas (que ni siquiera respetan los 6 meses de lactancia
    materna exclusiva que propone la OMS), son indecentes porque pretenden que
    maternidad y paternidad sean simétricas y homólogas, y, por lo tanto, no
    tienen en cuenta los procesos sexuales y reproductivos por los que pasan las
    madres: embarazo, parto, posparto, lactancia materna, puerperio y
    exterogestación con la criatura. La igualación de maternidad y paternidad
    está teniendo consecuencias nefastas, como la promoción de los vientres de
    alquiler, las custodias compartidas impuestas -incluso con bebés lactantes-,
    el falso síndrome de alienación parental, etc.
  </p>
  <p>
    Dicho esto, el apoyo del padre a la maternidad es muy importante y
    afortunadamente cada vez hay más hombres que, cuestionando la masculinidad
    patriarcal, se implican en este proyecto conjunto. Pero la exterogestación,
    asociada a la lactancia materna, es una función materna y no paterna. Los
    hombres que están empezando a cambiar la tradicional actitud 6 machista
    deben ser muy respetuosos con la función materna y no tratar de suplantarla.
    La pérdida de privilegios masculinos implica el reconocimiento de la madre y
    no su usurpación. También hay que tener en cuenta la diversidad familiar,
    donde no siempre existe la figura paterna, como las familias monomarentales
    o lesbianas. Por lo tanto, el foco de atención de las políticas públicas
    debería ser siempre la diada madre-criatura como unidad primal y básica.
  </p>
  <p>
    Los procesos de la gestación están encadenados, siendo cada uno la
    preparación del siguiente. El daño es acumulativo, los procesos se atrancan.
    Las exterogestaciones a contracorriente de los procesos físicos y psíquicos
    convierten lo que podría ser una etapa placentera y plácida de la vida
    humana, en un trabajo extenuante.
  </p>
  <p>
    La falta del cuerpo a cuerpo con la madre en la exterogestación es también
    un crimen contra la integridad de la vida humana. Sin embargo, los hallazgos
    científicos que podrían acabar con toda la ignorancia son contundentes y
    abrumadores.
  </p>
  <p>
    La neurobiología en la década de los 90 del siglo pasado, ha explicado que
    el desarrollo neurológico de la criatura humana <b
      >no está pautado genéticamente</b
    > y depende del cuerpo a cuerpo con la madre. El ser humano nace con solo un
    25% del cerebro formado (a diferencia de otros mamíferos que nacen con el 80%).
    Entre el nacimiento y el primer año de vida extrauterina se desarrolla hasta
    el 80% del cerebro adulto; siendo las condiciones de la exterogestación un factor
    básico y decisivo en la formación del cerebro humano<NoteLink
      href="_04"
      text="4"
    />.
  </p>
  <p>
    La neurobiología<NoteLink href="_05" text="5" /> ha comprobado que los caminos
    neurales que van a formar nuestro sistema neurológico adulto se fijan mediante
    opciones (<i>choices</i> y no "pautas" como aparece en alguna traducción) que
    van decidiendo qué neuronas permanecen o cuáles no (nacemos con una cantidad
    inmensa de ellas), y qué sinapsis se establecen y cuáles no (algunos neurólogos
    hablan por ello de "poda"); y también que estas opciones (<i>choices</i>)
    dependen del equilibrio neuroendocrino de la madre y de la criatura, es
    decir, de su estado emocional.
  </p>
  <p>
    Así, las redes neurales (la fijación de las sinapsis neuronales), se moldean
    según el estado emocional de la criatura (el tipo de equilibrio
    neuroendocrino). No será igual si la criatura está en un estado de placidez
    en el cuerpo a cuerpo con la madre o si está separada de la madre en un
    estado de alerta y estrés, con episodios de llantos no consolados. Se sabe,
    por ejemplo, que las hormonas del estrés (cortisol y otros glucocorticoides)
    actúan como un auténtico veneno, destruyendo neuronas e interceptando
    sinapsis, produciendo un estado de toxicidad neuroquímica en el cerebro en
    formación. Según el tipo de crianza, las redes neurales de la criatura se
    fijarán adaptadas a las situaciones de estrés y de alerta o, por el
    contrario, adaptadas a ambientes de confianza amorosa donde desarrolla su
    capacidad de amar. La criatura que crece en estado continuado de estrés
    adoptará una coraza psicosomática que le acompañará a lo largo de su vida,
    frenando la expansión y desarrollo de su <b>capacidad de amar</b> y de empatizar.
  </p>
</section>
