---
import NoteLink from "@components/ui/NoteLink.astro";
---

<section
  id="el-modelo-de-maternidad-actual-produce-sufrimiento"
  class="mb-16 flex flex-col gap-4 text-lg font-medium"
>
  <header class="sticky top-0 z-10 -mt-8 bg-zinc-50 pb-4 pt-8">
    <h3
      class="pb-0 pr-4 font-serif text-lg font-bold md:pb-4 md:text-xl lg:text-3xl"
    >
      El modelo de maternidad actual produce sufrimiento a las madres y a las
      criaturas
    </h3>
  </header>

  <p>
    La maldición bíblica patriarcal de parir con dolor se cumple, de entrada,
    con el simple hecho de no respetar la inhibición neocortical, de no
    contemplar el parto como un acto sexual. Aunque no es este el lugar para
    entrar en detalle sobre esta cuestión, hay muchos datos que explican la
    relación entre el parto patológico con dolorosísimos calambres<NoteLink
      href="_10"
      text="10"
    /> y la represión de la sexualidad femenina, impuesta de facto por un regimen
    sexual falocrático, que invisibiliza y borra el sexo de las mujeres y sus funciones.
  </p>
  <p>
    Es menos conocido el efecto nocivo que produce la separación de la madre y
    la criatura después del alumbramiento, pero es un sufrimiento indescriptible
    para ambas. Cuando se separa a la mujer de la criatura que acaba de alumbrar
    se produce un estado de estrés que altera el metabolismo basal de ambas,
    provocando situaciones de riesgo.
  </p>
  <p>
    Las alteraciones físicas y psíquicas producidas por las sucesivas
    interferencias y disrupciones en el <i>continuum</i>
    de la maternidad <b>cursan con sufrimiento</b>, tanto en la madre como en la
    criatura. Un sufrimiento físico y sobre todo psíquico, tan invisible como la
    propia maternidad. Un sufrimiento que produce heridas muy profundas de por
    vida.
  </p>
  <p>
    La capacidad de amar del cuerpo y del alma humana, de la cual depende
    nuestro bienestar, es un <b>don de por vida</b> que se forja durante la gestación
    intra y extrauterina. La represión del deseo materno y el actual modelo de maternidad
    lesionan la capacidad de amar y la sociabilidad de todos los seres humanos.
  </p>
  <p>
    El derecho a nacer siendo deseada y a tener una madre entrañable es el grito
    más profundo que sale del alma humana. Es el clamor silencioso e invisible
    del malestar de la cultura, de todo el malestar anímico de la sociedad, que
    ha sustituido a la madre verdadera por una seudo-madre patriarcal. Es el
    lamento por no tener la existencia gozosa que correspondería a nuestra
    condición humana.
  </p>
</section>
