---
import NoteLink from "@components/ui/NoteLink.astro";
---

<section
  id="el-actual-modelo-de-maternidad-produce-violencia"
  class="mb-16 flex flex-col gap-4 text-lg font-medium"
>
  <header class="sticky top-0 z-10 -mt-8 bg-zinc-50 pb-4 pt-8">
    <h3
      class="pb-0 pr-4 font-serif text-lg font-bold md:pb-4 md:text-xl lg:text-3xl"
    >
      El actual modelo de maternidad produce violencia
    </h3>
  </header>

  <p>
    Hace 20 años, a la vista de las investigaciones antropológicas<NoteLink
      href="_11"
      text="11"
    />, epidemiológicas<NoteLink href="_6" text="6" /> y neurobiológicas<NoteLink
      href="_5"
      text="5"
    />, ya se predecía la espiral de violencia que iba a producirse en las
    generaciones por venir.
  </p>
  <p>
    Margaret Mead, en 1935 realizó trabajo de campo en tres sociedades cercanas,
    demostrando cómo su construcción del temperamento iba a depender de los
    patrones de crianza de cada cultura. Situaría en dos extremos opuestos a los
    Arapesh, un pueblo pacífico, cuyas madres otorgan mucha presencia y amor a
    las criaturas, y los Mundugumor, una tribu violenta, donde la crianza se
    ejerce de una forma fría y distante.
  </p>
  <p>
    El neonatólogo Nils Bergman<NoteLink href="_4" text="4" />, basándose en la
    investigación de A.N. Schore, asegura que:
  </p>
  <blockquote class="border-l-4 border-l-black py-2 pl-4 italic">
    ... las complicaciones que suceden durante el nacimiento afectan a la
    personalidad, a la capacidad relacional, a la autoestima, y a los esquemas
    de comportamiento a lo largo de toda la vida. Si a ello se le añade el
    rechazo de la madre y la ausencia de unión con la madre ("bonding"), podemos
    constatar <b
      >una fuerte correlación con un comportamiento criminal y violento</b
    >.
  </blockquote>
  <p>
    Esto puede ayudar a entender la afirmación de <b>Michel Odent</b><NoteLink
      href="_12"
      text="12"
    />, de que la mejor estrategia para obtener una persona agresiva es
    separarla de la madre en su más tierna infancia. No olvidemos tampoco lo que
    hacían los espartanos de la Grecia post micénica de tirar a los bebés al
    suelo, llevando el estrés de las criaturas a situaciones extremas, con el
    objeto de forjar buenos guerreros con aquellos que sobrevivieran al trauma.
    En la Grecia clásica se conocía perfectamente la manera de sabotear la
    formación de la capacidad de empatizar de las criaturas humanas, es decir,
    tenían el conocimiento empírico de la correlación entre el estrés del bebé y
    la forja de la violencia adulta.
  </p>
  <p>
    Lloyd de Mause<NoteLink href="_13" text="13" /> asegura que la falta de cuidados
    maternales tempranos es la causa de que la región del cerebro que permite desarrollar
    la empatía sea muy pequeña y no se desarrolle correctamente, lo cual desemboca
    en una baja capacidad de empatizar y de autoestima. El individuo crece con la
    incapacidad de sentirse culpable de lastimar a las demás personas.
  </p>
  <p>
    Cada día contemplamos impotentes el actual desarrollo de la violencia en
    todos los estamentos de la sociedad; aunque se conocen científicamente sus
    causas y, por tanto, se podrían tomar las medidas necesarias para acabar con
    ella. La violencia que hoy padecemos está relacionada con las condiciones
    cada vez más perjudiciales en las que se ha desarrollado la maternidad en
    las tres últimas generaciones de maternidades hospitalarias. Es el producto
    inmediato de la creciente destrucción de la maternidad.
  </p>
  <p>
    La norteamericana "Association for Psychological Science" en 2010 presentó
    una síntesis de 72 estudios de la evolución de los rasgos de personalidad de
    estudiantes americanos de secundaria entre 1979 y 2009. Observaron que, en
    tres o cuatro decenios, los estudiantes redujeron su empatía un 40% en ese
    tiempo, con mayor celeridad a partir del año 2000 (14). Michel Odent ha
    señalado que el advenimiento de la obstetricia moderna no había sido tenido
    en cuenta para interpretar ciertas transformaciones recientes y
    espectaculares de nuestra especie.
  </p>
  <p>
    En el año 2014, el Parlamento Inglés aprobó por unanimidad el “Manifiesto
    Los 1000 Días Críticos”, tiempo que va desde la concepción hasta los dos
    años de vida, etapa de especial vulnerabilidad que debe ser atendida
    adecuadamente. Dicho manifiesto fue el resultado de investigaciones
    realizadas durante años que demuestran con cifras las consecuencias del
    cuidado al comienzo de la vida, según las cuales se podría reducir la
    drogadicción en un 59%, las encarcelaciones en un 53%, la violencia en un
    51%, etc. El coste estimado de no tratar adecuadamente la salud mental
    perinatal y el maltrato infantil supone dos tercios del presupuesto anual
    para Defensa. Sin embargo, los gobiernos olvidan en sus legislaciones y
    presupuestos la importancia de estos 1000 primeros días.
  </p>
</section>
