---
import Base from "@layouts/Base.astro";
import LinkButton from "@components/ui/LinkButton.astro";
import SignFixedButton from "@components/ui/SignFixedButton.astro";

import ElDeseoMaterno from "@partials/home/el-deseo-materno.astro";
import ModeloActualDominante from "@partials/home/modelo-actual-dominante-de-maternidad.astro";
import Esclavitud from "@partials/home/modelo-actual-dominante-de-maternidad/esclavitud.astro";
import Sufrimiento from "@partials/home/modelo-actual-dominante-de-maternidad/sufrimiento.astro";
import Violencia from "@partials/home/modelo-actual-dominante-de-maternidad/violencia.astro";
import ElFuturoDeLaHumanidad from "@partials/home/el-futuro-de-la-humanidad.astro";
import Propuestas from "@partials/home/propuestas.astro";
import Notas from "@partials/home/notas.astro";
---

<Base
  title="Es necesario y urgente cambiar la noción y el modelo vigentes de maternidad"
  description="Diversos grupos y asociaciones, llevamos años tratando de llamar la atención sobre la noción y el modelo de maternidad vigentes"
>
  <section class="mx-auto max-w-sm py-12 md:max-w-2xl md:py-32 lg:max-w-5xl">
    <h1 class="text-4xl font-light md:text-6xl lg:text-8xl">
      <span class="block">
        <span class="font-serif font-black">Manifiesto</span> por
      </span>
      <span class="block text-right">
        las <span class="font-serif font-black">madres</span>
      </span>
    </h1>
  </section>

  <section
    class="grid grid-cols-1 md:grid-cols-3 md:border-t md:border-t-black"
  >
    <article class="order-2 md:col-start-2 md:col-end-4 md:py-8 md:pl-8">
      <ElDeseoMaterno />
      <ModeloActualDominante />
      <Esclavitud />
      <Sufrimiento />
      <Violencia />
      <ElFuturoDeLaHumanidad />
      <Propuestas />
      <Notas />
    </article>

    <section class="order-1 md:border-r md:border-r-black">
      <section class="py-8 md:sticky md:top-0 md:pr-8">
        <h3 class="mb-4 text-lg md:text-xl lg:text-2xl">
          Es necesario y urgente cambiar la noción y el modelo vigentes de
          maternidad.
        </h3>

        <section class="mb-4">
          <LinkButton
            href="https://forms.gle/ZFNjYx9iLK8MJpUeA"
            rel="noopener noreferrer external"
            target="_blank"
            text="Firma el manifiesto"
            important={true}
          />
        </section>

        <section class="mb-4">
          <LinkButton
            href="/files/manifiesto-por-las-madres.pdf"
            text="Descarga el manifiesto (PDF)"
            type="application/pdf"
          />
        </section>

        <section class="mb-4">
          <video class="h-auto w-full" src="/video/abstract.mp4" controls
          ></video>
        </section>
      </section>
    </section>
  </section>

  <SignFixedButton />
</Base>
