---
import Base from "../layouts/Base.astro";
import Section from "../components/home/Section.astro";
---

<Base>
	<section
		class="max-w-sm mx-auto pt-16 pb-8 md:pt-64 md:max-w-2xl lg:max-w-5xl"
	>
		<h1 class="text-4xl md:text-6xl lg:text-8xl font-light">
			<span class="block">
				<span class="font-serif font-black">Manifiesto</span> por
			</span>
			<span class="block text-right">
				las <span class="font-serif font-black">madres</span>
			</span>
		</h1>
	</section>

	<section
		class="grid grid-cols-1 md:grid-cols-3 md:border-t md:border-t-black"
	>
		<section class="md:border-r md:border-r-black">
			<section class="py-8 md:pr-8 md:sticky md:top-0">
				<h3 class="text-lg mb-4 md:text-xl lg:text-3xl">
					Luchamos por la mujer, luchamos por la humanidad y por la biosfera.
				</h3>

				<p class="font-serif font-bold mb-4">Google forms</p>

				<a
					href="/"
					class="inline-block w-full border border-black bg-transparent py-4 px-8"
				>
					Firma el manifiesto &#8594;
				</a>
			</section>
		</section>

		<section class="md:col-start-2 md:col-end-4">
			<Section
				title="Manifiesto"
				subtitle="Es necesario y urgente cambiar la noción y el modelo vigentes de maternidad."
				href="/manifiesto/"
				buttonText="Manifiesto"
			/>

			<!-- CARD -->
			<Section
				title="Propuestas"
				subtitle="Exigimos una serie de propuestas necesarias para la urgente transformación de nuestra sociedad."
				href="/propuestas/"
				buttonText="Propuestas"
			/>

			<!-- CARD -->
			<!-- <section
				class="flex flex-col justify-end items-start border-b border-b-black"
			>
				<div class="aspect-video w-full">
					<iframe
						class="w-full h-full aspect-video"
						src="https://www.youtube-nocookie.com/embed/ozs_f4ZT9sw"
						title="YouTube video player"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						allowfullscreen></iframe>
				</div>
			</section> -->

			<!-- CARD -->
			<!-- <section class="pt-8 pl-8 min-h-96 flex flex-col justify-end items-start">
				<h2 class="text-4xl">Escucha el audio.</h2>

				<div class="flex justify-end w-full">
					<audio controls>
						<source src="/audio/example.ogg" type="audio/ogg" />
						<source src="/audio/example.mp3" type="audio/mpeg" />
						 Your browser does not support the audio tag.
					</audio>
				</div>
			</section> -->
		</section>
	</section>
</Base>
