---
import Base from "../layouts/Base.astro";
import NoteLink from "../components/manifiesto/NoteLink.astro";
import SimpleExternalLink from "../components/ui/SimpleExternalLink.astro";
import LinkButton from "../components/ui/LinkButton.astro";
---

<Base
	title="El manifiesto"
	description="El modelo de maternidad y crianza que prevalece en nuestra sociedad supone una esclavitud para la mujer y produce sufrimiento a la madre y a la criatura"
>
	<section class="py-12 md:py-32">
		<h1
			class="text-center font-serif text-4xl font-black md:text-6xl lg:text-8xl"
		>
			Manifiesto
		</h1>
	</section>

	<section
		class="grid grid-cols-1 md:grid-cols-3 md:border-t md:border-t-black"
	>
		<article class="order-2 md:col-start-2 md:col-end-4 md:py-8 md:pl-8">
			<h2
				class="font-serif text-xl font-extrabold md:mb-4 md:text-2xl lg:text-4xl"
			>
				El deseo materno
			</h2>

			<section class="mb-16 flex flex-col gap-4 text-lg font-medium">
				<p>
					El deseo materno es una pulsión física y psíquica que brota del cuerpo
					de las mujeres con mucha fuerza, porque está encaminado a impulsar la
					gestación nada menos que de una vida humana. Produce un gran placer y
					bienestar porque es de hecho una expansión de la sexualidad de la
					mujer.
				</p>

				<p>
					El deseo materno es una identificación absoluta con el bienestar de la
					criatura humana; sus cualidades son la complacencia y el don gratuito
					porque cuando brota está sin contaminar de las relaciones de
					competitividad y de poder que prevalecen en nuestra sociedad. En la
					mujer que da a luz no hay un ápice de voluntad de dominio, sólo hay
					deseo de complacencia y de cuidado de la nueva vida, con plena
					identificación con el bienestar de la criatura.
				</p>
				<p>
					La criatura humana nace también enamorada de su madre y reconoce su
					cuerpo como el lugar adecuado para estar en este mundo. Su psiquismo
					se ha constituido durante la gestación en interacción con el psiquismo
					de la madre, impregnado del deseo materno, formándose así nuestra
					capacidad de amar y de empatizar, que nos acompañará de por vida.
				</p>
				<p>
					La maternidad transmite pues la capacidad de empatizar, tiene una
					función social de primer orden, y al gestar la criatura humana, gesta
					también su sociabilidad.
				</p>
				<p>
					Ningún organismo vivo está diseñado para vivir aisladamente y, en
					nuestro caso, la capacidad de empatizar es lo que nos hace a los
					humanos seres sociables, conectándonos unos con otros, siguiendo la
					regla de la Biosfera del encadenamiento de todos los ecosistemas y de
					todos los seres vivos. Somos seres interdependientes y nuestra
					autorregulación depende de nuestra conexión con las demás personas.
				</p>
				<p>
					La civilización patriarcal descansa en una determinada supresión de
					importantes aspectos de la función materna, precisamente con el objeto
					de bloquear el desarrollo de la empatía y de la sociabilidad humana,
					cualidades que obstaculizan las relaciones competitivas, el
					fratricidio y las guerras. Además, en la actualidad nos enfrentamos a
					una virulenta reacción patriarcal que trata de culpabilizar a la
					propia mujer, afectando especialmente a las madres.
				</p>
				<p>
					Durante siglos se ha ejercido una represión sobre la mujer, encaminada
					a eliminar sus deseos y a producir una desconexión interna de sus
					pulsiones, alterando sus funciones sexuales y reproductivas. La
					consecuencia es que la reproducción humana se realiza con una falta de
					madre, que en la actualidad se ha generalizado en todo el mundo,
					produciendo una carencia y un acorazamiento que arrastramos todos los
					seres humanos.
				</p>
				<p>
					En nuestro mundo reina el malestar, la confusión, las creencias
					fratricidas, la crispación y el deseo de venganza. Los seres humanos
					crecemos con un fuerte acorazamiento psicosomático, adaptados a las
					relaciones de dominación, a la competitividad y al fratricidio. Muchas
					medidas políticas se toman desde el despecho. Quizá sea significativo
					que la palabra "despecho" proceda de quitar el pecho, del destete
					prematuro.
				</p>
				<p>
					El patriarcado ha promovido el fratricidio, la guerra de los sexos, la
					guerra entre generaciones, entre capital y trabajo, la devastación de
					la naturaleza, ha eliminado muchos aspectos fundamentales de la
					función materna, pero no ha podido eliminar el deseo materno que brota
					de nuestros cuerpos, ni la capacidad de amar que este deseo transmite.
				</p>
				<p>
					Por eso, aunque reine el malestar en nuestra cultura y en nuestras
					relaciones sociales, en el interior del ser humano sobrevive el germen
					de la recuperación y de la reconstrucción de una sociedad solidaria y
					cooperativa. Son los chispazos del amor materno que, por ejemplo,
					sentimos cuando recordamos momentos felices de nuestra infancia. El
					deseo de armonía, de compartir, de complacer, del don gratuito… son
					las cualidades del deseo materno y constituyen el orden simbólico de
					la madre<NoteLink href="_01" text="1" />, que a veces sentimos y
					reconocemos dentro de cada persona. Aunque en nuestro mundo solamente
					en determinadas circunstancias se puede abrir paso el orden simbólico
					de la madre, todas y todos tenemos la experiencia y la constancia de
					que las cualidades del deseo materno existen, son una realidad, y son
					susceptibles de desarrollarse.
				</p>
				<p>
					Tomar conciencia de la maternidad no significa sentir culpa, porque
					todas hemos sido madres en la cultura en la que hemos nacido y
					crecido. Nuestro propósito es luchar para que se sepa qué es la
					maternidad, cómo la sociedad impide su desarrollo y que esto sirva
					para futuras madres.
				</p>
				<p>
					Diversos grupos de mujeres -y de hombres- y diversas asociaciones,
					llevamos años tratando de llamar la atención sobre la noción y el
					modelo de maternidad vigentes, como causa del malestar de nuestra
					sociedad. De hecho, en octubre de 2006, ya se publicó un manifiesto
					sobre la necesidad de recuperar la maternidad, al que nos remitimos
					como complemento del presente manifiesto<NoteLink
						href="_02"
						text="2"
					/>.
				</p>
			</section>

			<section class="mb-16 flex flex-col gap-4 text-lg font-medium">
				<h2
					class="font-serif text-xl font-extrabold md:mb-4 md:text-2xl lg:text-4xl"
				>
					Modelo actual dominante de maternidad
				</h2>

				<p>
					En nuestra sociedad y en nuestra cultura existe una noción y un modelo
					de maternidad que ha cuajado, suplantando a la verdadera maternidad.
					Ha llegado un momento en el que creemos que es necesario y urgente
					cambiar este estado de cosas y recuperar la verdadera maternidad. En
					este manifiesto hacemos una breve explicación de la situación actual
					en la que nos encontramos y las principales razones por las que
					hacemos un llamamiento para este cambio.
				</p>
				<p>
					Vamos a señalar tres aspectos o razones por los que debe cambiarse el
					modelo de maternidad de nuestra sociedad:
				</p>
				<ol class="flex list-inside list-decimal flex-col gap-2">
					<li>
						<a
							href="#la-maternidad-actual-es-esclavitud-de-hecho-para-la-mujer"
						>
							Es una <b>esclavitud</b> de hecho para la mujer.
						</a>
					</li>
					<li>
						<a href="#el-modelo-de-maternidad-actual-produce-sufrimiento">
							Es <b>sufrimiento</b> para la mujer y para la criatura humana: en
							el parto, en el inmediato postparto y en toda la exterogestación.
						</a>
					</li>
					<li>
						<a href="#el-actual-modelo-de-maternidad-produce-violencia">
							Bloquea la sociabilidad humana y produce <b>la violencia</b> que
							sostiene el régimen de dominación y de fratricidio de nuestra
							sociedad.
						</a>
					</li>
				</ol>
			</section>

			<section
				id="la-maternidad-actual-es-esclavitud-de-hecho-para-la-mujer"
				class="mb-16 flex flex-col gap-4 text-lg font-medium"
			>
				<h3
					class="pb-0 pr-4 font-serif text-lg font-bold md:pb-4 md:text-xl lg:text-3xl"
				>
					La maternidad actual es esclavitud de hecho para la mujer
				</h3>

				<p>
					El modelo actual dominante de maternidad es una esclavitud de hecho
					para la mujer, debido a varias cosas: una es el océano de <b
						>ignorancia</b
					>
					 que la niega y que la obliga a sobrevivir arrinconada en la sombra de
					la cultura; y otra, las mismas condiciones de indigencia y de <b
						>precariedad</b
					> en las que se desarrolla. Ambas cosas, precariedad e ignorancia, se
					retroalimentan una con otra bajo un magma de normalidad que lo
					<b>invisibiliza</b> todo. Incluso la generalización de los pezones de
					plástico está normalizada, haciendo invisible la falta de madre, el
					vacío de maternidad<NoteLink href="_03" text="3" />. Lo peor del
					chupete no es que el pezón sea de plástico, sino el cuerpo que falta
					detrás del chupete.
				</p>
				<p>
					Aparte de los sectores más reaccionarios de la sociedad, que siguen
					considerando que la maternidad es el destino único de la mujer, existe
					un discurso en ciertos sectores del feminismo de la igualdad y un
					sorprendente consenso de la izquierda y la derecha que suscriben esta
					condición de la maternidad como esclavitud. Piensan que es la
					maternidad lo que esclaviza y no las condiciones culturales y sociales
					en las que ésta se desarrolla. El argumento de que la maternidad es
					una opción personal y privada, que quien opta por ella "ya sabe lo que
					le espera y que se las apañe como pueda" es de una hipocresía digna de
					los mejores discursos patriarcales. Si hay una mayoría de mujeres que
					optan por ser madres, a pesar de la precariedad y de las dificultades,
					es porque existe un deseo materno que forma parte de nuestras
					pulsiones sexuales. El meollo de la cuestión está en este punto, en
					admitir esta otra importantísima verdad: la realidad de una pulsión
					amorosa, sexual y emocional específica de la maternidad, que descarga
					y expande nuestro potencial libidinal; es el deseo materno que forma
					parte de la sexualidad femenina. Es una pulsión orgánica,
					psicosomática, 3 que cursa con una gran carga emocional, y que brota
					del cuerpo femenino para implementar los procesos maternales de manera
					placentera y con el mayor bienestar físico y psíquico. Como afirman
					varias autoras feministas: la biología no es el enemigo sino la fuente
					de la revolución feminista, y no tiene nada que ver con la visión
					determinista de la biología existente en ciertos sectores.
				</p>
				<p>
					El deseo materno existe y coexiste con la esclavitud. Existe, brota y
					es sistemáticamente reprimido por todas las condiciones adversas que
					impiden el desarrollo físico de la maternidad.
				</p>
				<p>
					Uno de los aspectos importantes de la <b>precariedad</b> de la
					maternidad actual es la falta de tejido social. La maternidad no es
					sólo una cuestión individual, requiere de un <b
						>tejido social y comunitario</b
					> que la sostenga; y la familia nuclear no es suficiente para
					proporcionar el sostén básico necesario. Con la creciente desaparición
					de la familia extensa está extinguiéndose el tejido social necesario
					para una maternidad sostenible. En la actualidad, las familias con
					suficientes recursos económicos solucionan la falta de tejido social
					con trabajo mercenario, casi siempre precario y realizado por las
					mujeres con menos recursos. Para la mayoría de madres la única
					solución es un sobreesfuerzo que a menudo rebasa los límites de su
					salud física y psíquica. La falta de tejido social que sostenga la
					díada madre-criatura sólo se palía en la actualidad con un apoyo mutuo
					extraordinario y muy activo del entorno social inmediato de la madre,
					como los grupos de apoyo a la lactancia materna y otros grupos de
					ayuda mutua.
				</p>
				<p>
					Otro aspecto crucial es la <b>precariedad</b> económica en que la
					maternidad tiene lugar. El régimen económico de nuestra sociedad
					contabiliza el coste de la producción pero no de la reproducción. Para
					el Capital, la reproducción ha sido siempre gratis, considerándola una
					cuestión "privada", sin reconocimiento de su condición social, y que
					recae en el esfuerzo "privado" y corporal de las mujeres. A este
					esfuerzo añadimos el económico: porque la maternidad sí tiene un coste
					económico, que se traduce en una sobreexplotación y empobrecimiento de
					las mujeres. Situación que se acrecienta con la ausencia de derechos y
					recursos para maternar. Por ejemplo, en nuestro país, ni siquiera se
					contempla un permiso de maternidad <b>universal</b> de un año, como
					sucede en otros países europeos y latinoamericanos, ni hay una oferta
					económica razonable para todos los años de crianza.
				</p>
				<p>
					Otro aspecto más que contribuye al modelo de maternidad-esclavitud es
					la
					<b>invisibilidad</b> de los cuidados que comporta la maternidad: se
					invisibiliza para el mundo entero menos para la madre que la vive, lo
					que encima le produce una sensación de gran <b>soledad</b>. La
					invisibilidad es posible gracias a una ignorancia, generalizada y
					establecida, sobre los procesos psíquicos, fisiológicos y sociales.
					Pese a la información aportada también por la ciencia, la ignorancia
					se mantiene estratégicamente para reproducir la invisibilidad que hace
					posible la represión de los procesos de la maternidad y el estado de
					subordinación social y económica de la mujer. El actual modelo
					dominante de maternidad es el principal factor de discriminación y de
					desigualdad para la mujer; y esto deberían tenerlo en cuenta quienes
					luchan por la igualdad de los géneros.
				</p>
				<p>
					La ignorancia borra el <i>continuum</i> de los procesos, los trocea
					rompiendo el encadenamiento de las etapas, negando las necesidades de
					cada ciclo vital; necesidades que son tan invisibles como reales e
					ineludibles, y así recaen inexorablemente sobre las madres.
				</p>
				<p>
					Esta ignorancia ni siquiera reconoce los hallazgos científicos
					abrumadores, que confirman la experiencia y el conocimiento ancestral
					de las mujeres, y que aportan pruebas irrefutables acerca de las
					consecuencias catastróficas del actual modelo imperante de maternidad,
					tanto en el plano individual como social.
				</p>
				<p>
					La ignorancia se ceba en los protocolos de la Obstetricia y de la
					Pediatría, que se resisten a ser actualizados o a ser implantados de
					acuerdo con la información aportada desde distintos campos del
					conocimiento, por ejemplo la misma investigación clínica neonatal<NoteLink
						href="_04"
						text="4"
					/>, con los hallazgos de la neurobiología<NoteLink
						href="_05"
						text="5"
					/>, o con los estudios epidemiológicos<NoteLink
						href="_06"
						text="6"
					/>. Y así, continúan pautando y recetando una intervención
					iatrogénica, es decir, que provoca efectos nocivos y acumulativos a
					contracorriente de los procesos de la maternidad. Ni siquiera se ha
					desarrollado la Estrategia de Atención al Parto Normal del Ministerio
					de Sanidad del año 2007 y revisado en 2015<NoteLink
						href="_07"
						text="7"
					/>. De este modo se realiza, de forma sistemática y con el amparo
					institucional, un claro y brutal sabotaje a la maternidad.
				</p>
				<p>
					El deseo materno es sabio. Las pulsiones sexuales y emocionales
					maternales propician la sincronía fisiológica y psíquica entre madre y
					criatura; aseguran el continuum de los procesos, el equilibrio
					neuroendocrino y la estabilidad emocional que sustenta la formación de
					la diada, el cuerpo a cuerpo de la madre y la criatura.
				</p>
				<p>
					La ciencia ha demostrado<NoteLink href="_08" text="8" /> que el <b
						>periodo perinatal</b
					> y los mil primeros días de vida<NoteLink href="_09" text="9" /> son
					críticos en la formación del ser humano y todo lo que acontece en este
					periodo tiene consecuencias de por vida para las madres, las criaturas
					y el conjunto de la sociedad<NoteLink href="_04" text="4" />.
				</p>
				<p>
					Mencionaremos sólo dos aspectos del sabotaje a la maternidad en el
					periodo perinatal.
				</p>
				<ol class="flex list-inside list-decimal flex-col gap-2">
					<li>
						El parto es un proceso sexual y, como tal, está regido por la parte
						ancestral de nuestro cerebro. Requiere, por tanto, de la inhibición
						del neocortex y de una total intimidad. Sin embargo, los protocolos
						vigentes de la maternidad hospitalaria no contemplan el parto como
						un proceso sexual, sino como un proceso fisiológico independiente de
						la sexualidad; no respetan la inhibición neocortical y sabotean de
						forma sistemática el desarrollo de la función del útero en el parto
						natural. Es una incongruencia que la medicina oficial ignore la
						dimensión emocional de la maternidad y, sin embargo, utilice la
						oxitocina sintética en los partos. La oxitocina es la hormona del
						amor que producimos cuando nos brota el deseo.
					</li>
					<li>
						La separación de la madre de la criatura en el inmediato posparto es
						otra intervención iatrogénica de la obstetricia en el periodo
						perinatal.
					</li>
				</ol>
				<p>
					En el posparto inmediato tiene lugar, en el cuerpo que acaba de dar a
					luz, una descarga de hormonas y pulsiones que mantiene a la madre
					unida en sincronía física y psíquica con el bebé, siendo uno de los
					estados emocionales más fuertes de la vida de mujeres <b
						>y criaturas</b
					>. Si se produce una separación en este momento, se interrumpe ese
					proceso, ocasionando un daño difícil de reparar. Es un momento
					crítico, único e irrepetible. La impronta son las 5 descargas de
					oxitocina más altas de la vida de la mujer; es una gran eclosión del
					deseo materno destinada a asegurar el tránsito y la continuidad de la
					gestación en la etapa extrauterina. Emocionalmente, es una sensación
					de extrema felicidad y éxtasis; fisiológicamente, promueve la
					atracción de la criatura, la expulsión de la placenta y el inicio de
					la lactación. Reprimir la impronta, con la separación física de la
					criatura o estimulación neocortical de la madre, cortocircuita de
					forma muy grave el <i>continuum</i> de la maternidad y es una
					auténtica violación de los cuerpos humanos<NoteLink
						href="_04"
						text="4"
					/>.
				</p>
				<p>
					La separación de la criatura de su madre ha sido clave en las
					estrategias patriarcales desde los tiempos más antiguos, y lo sigue
					siendo en la actualidad.
				</p>
				<p>
					Los vientres de alquiler son el colmo de esta estrategia, pues
					directamente establecen por norma separar a la criatura de la madre
					que la ha gestado. Interrumpir la transición de la gestación intra a
					la extrauterina en el momento crítico es un crimen contra la madre y
					la criatura. De hecho, los vientres de alquiler son un grave crimen
					contra la condición humana.
				</p>
				<p>
					Tras el periodo perinatal, la exterogestación se desarrolla impidiendo
					en la práctica el cuerpo a cuerpo con la madre. La imposibilidad en
					las condiciones actuales de que ésta yazca con la criatura durante la
					cuarentena y, después, la falta de la práctica del porteo, dificultan
					el cuerpo a cuerpo con la madre durante este periodo.
				</p>
				<p>
					El primer derecho, el más básico, del ser humano es el derecho a nacer
					siendo deseado y con una madre verdadera y presente durante todo el
					proceso de exterogestación. El actual sistema patriarcal no permite
					desarrollar una maternidad plena y gozosa, sino que fomenta la
					creación de madres patriarcales, rígidas y desvinculadas de sus
					criaturas. Esto lo consigue a través de la desvalorización de la
					maternidad, la falta de tejido social, la falta de apoyo y la ausencia
					de derechos y recursos, por ejemplo, la falta de ingresos directos a
					las familias, de permisos amplios y, en general, por un sistema
					centrado en el empleo y no en la vida. En la actualidad existe un
					vacío institucional de políticas públicas de apoyo a las madres; y las
					escasas políticas existentes promueven y afirman la separación de sus
					criaturas, por ejemplo a través de la externalización de los cuidados.
				</p>
				<p>
					Otra medida actual, los permisos iguales e intransferibles para madres
					y padres, de 16 semanas (que ni siquiera respetan los 6 meses de
					lactancia materna exclusiva que propone la OMS), son indecentes porque
					pretenden que maternidad y paternidad sean simétricas y homólogas, y,
					por lo tanto, no tienen en cuenta los procesos sexuales y
					reproductivos por los que pasan las madres: embarazo, parto, posparto,
					lactancia materna, puerperio y exterogestación con la criatura. La
					igualación de maternidad y paternidad está teniendo consecuencias
					nefastas, como la promoción de los vientres de alquiler, las custodias
					compartidas impuestas -incluso con bebés lactantes-, el falso síndrome
					de alienación parental, etc.
				</p>
				<p>
					Dicho esto, el apoyo del padre a la maternidad es muy importante y
					afortunadamente cada vez hay más hombres que, cuestionando la
					masculinidad patriarcal, se implican en este proyecto conjunto. Pero
					la exterogestación, asociada a la lactancia materna, es una función
					materna y no paterna. Los hombres que están empezando a cambiar la
					tradicional actitud 6 machista deben ser muy respetuosos con la
					función materna y no tratar de suplantarla. La pérdida de privilegios
					masculinos implica el reconocimiento de la madre y no su usurpación.
					También hay que tener en cuenta la diversidad familiar, donde no
					siempre existe la figura paterna, como las familias monomarentales o
					lesbianas. Por lo tanto, el foco de atención de las políticas públicas
					debería ser siempre la diada madre-criatura como unidad primal y
					básica.
				</p>
				<p>
					Los procesos de la gestación están encadenados, siendo cada uno la
					preparación del siguiente. El daño es acumulativo, los procesos se
					atrancan. Las exterogestaciones a contracorriente de los procesos
					físicos y psíquicos convierten lo que podría ser una etapa placentera
					y plácida de la vida humana, en un trabajo extenuante.
				</p>
				<p>
					La falta del cuerpo a cuerpo con la madre en la exterogestación es
					también un crimen contra la integridad de la vida humana. Sin embargo,
					los hallazgos científicos que podrían acabar con toda la ignorancia
					son contundentes y abrumadores.
				</p>
				<p>
					La neurobiología en la década de los 90 del siglo pasado, ha explicado
					que el desarrollo neurológico de la criatura humana <b
						>no está pautado genéticamente</b
					> y depende del cuerpo a cuerpo con la madre. El ser humano nace con
					solo un 25% del cerebro formado (a diferencia de otros mamíferos que
					nacen con el 80%). Entre el nacimiento y el primer año de vida
					extrauterina se desarrolla hasta el 80% del cerebro adulto; siendo las
					condiciones de la exterogestación un factor básico y decisivo en la
					formación del cerebro humano<NoteLink href="_04" text="4" />.
				</p>
				<p>
					La neurobiología<NoteLink href="_05" text="5" /> ha comprobado que los
					caminos neurales que van a formar nuestro sistema neurológico adulto
					se fijan mediante opciones (<i>choices</i> y no "pautas" como aparece
					en alguna traducción) que van decidiendo qué neuronas permanecen o
					cuáles no (nacemos con una cantidad inmensa de ellas), y qué sinapsis
					se establecen y cuáles no (algunos neurólogos hablan por ello de
					"poda"); y también que estas opciones (<i>choices</i>) dependen del
					equilibrio neuroendocrino de la madre y de la criatura, es decir, de
					su estado emocional.
				</p>
				<p>
					Así, las redes neurales (la fijación de las sinapsis neuronales), se
					moldean según el estado emocional de la criatura (el tipo de
					equilibrio neuroendocrino). No será igual si la criatura está en un
					estado de placidez en el cuerpo a cuerpo con la madre o si está
					separada de la madre en un estado de alerta y estrés, con episodios de
					llantos no consolados. Se sabe, por ejemplo, que las hormonas del
					estrés (cortisol y otros glucocorticoides) actúan como un auténtico
					veneno, destruyendo neuronas e interceptando sinapsis, produciendo un
					estado de toxicidad neuroquímica en el cerebro en formación. Según el
					tipo de crianza, las redes neurales de la criatura se fijarán
					adaptadas a las situaciones de estrés y de alerta o, por el contrario,
					adaptadas a ambientes de confianza amorosa donde desarrolla su
					capacidad de amar. La criatura que crece en estado continuado de
					estrés adoptará una coraza psicosomática que le acompañará a lo largo
					de su vida, frenando la expansión y desarrollo de su <b
						>capacidad de amar</b
					> y de empatizar.
				</p>
			</section>

			<section
				id="el-modelo-de-maternidad-actual-produce-sufrimiento"
				class="mb-16 flex flex-col gap-4 text-lg font-medium"
			>
				<h3
					class="pb-0 pr-4 font-serif text-lg font-bold md:pb-4 md:text-xl lg:text-3xl"
				>
					El modelo de maternidad actual produce sufrimiento a las madres y a
					las criaturas
				</h3>

				<p>
					La maldición bíblica patriarcal de parir con dolor se cumple, de
					entrada, con el simple hecho de no respetar la inhibición neocortical,
					de no contemplar el parto como un acto sexual. Aunque no es este el
					lugar para entrar en detalle sobre esta cuestión, hay muchos datos que
					explican la relación entre el parto patológico con dolorosísimos
					calambres<NoteLink href="_10" text="10" /> y la represión de la
					sexualidad femenina, impuesta de facto por un regimen sexual
					falocrático, que invisibiliza y borra el sexo de las mujeres y sus
					funciones.
				</p>
				<p>
					Es menos conocido el efecto nocivo que produce la separación de la
					madre y la criatura después del alumbramiento, pero es un sufrimiento
					indescriptible para ambas. Cuando se separa a la mujer de la criatura
					que acaba de alumbrar se produce un estado de estrés que altera el
					metabolismo basal de ambas, provocando situaciones de riesgo.
				</p>
				<p>
					Las alteraciones físicas y psíquicas producidas por las sucesivas
					interferencias y disrupciones en el <i>continuum</i>
					 de la maternidad <b>cursan con sufrimiento</b>, tanto en la madre
					como en la criatura. Un sufrimiento físico y sobre todo psíquico, tan
					invisible como la propia maternidad. Un sufrimiento que produce
					heridas muy profundas de por vida.
				</p>
				<p>
					La capacidad de amar del cuerpo y del alma humana, de la cual depende
					nuestro bienestar, es un <b>don de por vida</b> que se forja durante
					la gestación intra y extrauterina. La represión del deseo materno y el
					actual modelo de maternidad lesionan la capacidad de amar y la
					sociabilidad de todos los seres humanos.
				</p>
				<p>
					El derecho a nacer siendo deseada y a tener una madre entrañable es el
					grito más profundo que sale del alma humana. Es el clamor silencioso e
					invisible del malestar de la cultura, de todo el malestar anímico de
					la sociedad, que ha sustituido a la madre verdadera por una
					seudo-madre patriarcal. Es el lamento por no tener la existencia
					gozosa que correspondería a nuestra condición humana.
				</p>
			</section>

			<section
				id="el-actual-modelo-de-maternidad-produce-violencia"
				class="mb-16 flex flex-col gap-4 text-lg font-medium"
			>
				<h3
					class="pb-0 pr-4 font-serif text-lg font-bold md:pb-4 md:text-xl lg:text-3xl"
				>
					El actual modelo de maternidad produce violencia
				</h3>

				<p>
					Hace 20 años, a la vista de las investigaciones antropológicas<NoteLink
						href="_11"
						text="11"
					/>, epidemiológicas<NoteLink href="_6" text="6" /> y neurobiológicas<NoteLink
						href="_5"
						text="5"
					/>, ya se predecía la espiral de violencia que iba a producirse en las
					generaciones por venir.
				</p>
				<p>
					Margaret Mead, en 1935 realizó trabajo de campo en tres sociedades
					cercanas, demostrando cómo su construcción del temperamento iba a
					depender de los patrones de crianza de cada cultura. Situaría en dos
					extremos opuestos a los Arapesh, un pueblo pacífico, cuyas madres
					otorgan mucha presencia y amor a las criaturas, y los Mundugumor, una
					tribu violenta, donde la crianza se ejerce de una forma fría y
					distante.
				</p>
				<p>
					El neonatólogo Nils Bergman<NoteLink href="_4" text="4" />, basándose
					en la investigación de A.N. Schore, asegura que:
				</p>
				<blockquote class="border-l-4 border-l-black py-2 pl-4 italic">
					... las complicaciones que suceden durante el nacimiento afectan a la
					personalidad, a la capacidad relacional, a la autoestima, y a los
					esquemas de comportamiento a lo largo de toda la vida. Si a ello se le
					añade el rechazo de la madre y la ausencia de unión con la madre
					("bonding"), podemos constatar <b
						>una fuerte correlación con un comportamiento criminal y violento</b
					>.
				</blockquote>
				<p>
					Esto puede ayudar a entender la afirmación de <b>Michel Odent</b
					><NoteLink href="_12" text="12" />, de que la mejor estrategia para
					obtener una persona agresiva es separarla de la madre en su más tierna
					infancia. No olvidemos tampoco lo que hacían los espartanos de la
					Grecia post micénica de tirar a los bebés al suelo, llevando el estrés
					de las criaturas a situaciones extremas, con el objeto de forjar
					buenos guerreros con aquellos que sobrevivieran al trauma. En la
					Grecia clásica se conocía perfectamente la manera de sabotear la
					formación de la capacidad de empatizar de las criaturas humanas, es
					decir, tenían el conocimiento empírico de la correlación entre el
					estrés del bebé y la forja de la violencia adulta.
				</p>
				<p>
					Lloyd de Mause<NoteLink href="_13" text="13" /> asegura que la falta
					de cuidados maternales tempranos es la causa de que la región del
					cerebro que permite desarrollar la empatía sea muy pequeña y no se
					desarrolle correctamente, lo cual desemboca en una baja capacidad de
					empatizar y de autoestima. El individuo crece con la incapacidad de
					sentirse culpable de lastimar a las demás personas.
				</p>
				<p>
					Cada día contemplamos impotentes el actual desarrollo de la violencia
					en todos los estamentos de la sociedad; aunque se conocen
					científicamente sus causas y, por tanto, se podrían tomar las medidas
					necesarias para acabar con ella. La violencia que hoy padecemos está
					relacionada con las condiciones cada vez más perjudiciales en las que
					se ha desarrollado la maternidad en las tres últimas generaciones de
					maternidades hospitalarias. Es el producto inmediato de la creciente
					destrucción de la maternidad.
				</p>
				<p>
					La norteamericana "Association for Psychological Science" en 2010
					presentó una síntesis de 72 estudios de la evolución de los rasgos de
					personalidad de estudiantes americanos de secundaria entre 1979 y
					2009. Observaron que, en tres o cuatro decenios, los estudiantes
					redujeron su empatía un 40% en ese tiempo, con mayor celeridad a
					partir del año 2000 (14). Michel Odent ha señalado que el advenimiento
					de la obstetricia moderna no había sido tenido en cuenta para
					interpretar ciertas transformaciones recientes y espectaculares de
					nuestra especie.
				</p>
				<p>
					En el año 2014, el Parlamento Inglés aprobó por unanimidad el
					“Manifiesto Los 1000 Días Críticos”, tiempo que va desde la concepción
					hasta los dos años de vida, etapa de especial vulnerabilidad que debe
					ser atendida adecuadamente. Dicho manifiesto fue el resultado de
					investigaciones realizadas durante años que demuestran con cifras las
					consecuencias del cuidado al comienzo de la vida, según las cuales se
					podría reducir la drogadicción en un 59%, las encarcelaciones en un
					53%, la violencia en un 51%, etc. El coste estimado de no tratar
					adecuadamente la salud mental perinatal y el maltrato infantil supone
					dos tercios del presupuesto anual para Defensa. Sin embargo, los
					gobiernos olvidan en sus legislaciones y presupuestos la importancia
					de estos 1000 primeros días.
				</p>
			</section>

			<section class="mb-16 flex flex-col gap-4 text-lg font-medium">
				<h2
					class="font-serif text-xl font-extrabold md:mb-4 md:text-2xl lg:text-4xl"
				>
					El futuro de la humanidad
				</h2>

				<p>
					Uno de los argumentos más utilizados en la propaganda de los poderes
					fácticos contra la maternidad es hacer creer que las consecuencias de
					su represión son lo original y lo primario.
				</p>
				<p>
					Como si la soledad, el sufrimiento y la esclavitud fueran condiciones
					propias, per se, de la maternidad, y no el resultado de su falta de
					reconocimiento social, económico, psíquico y fisiológico. Además, se
					hace llegar a las mujeres el mensaje de que la maternidad es algo
					biológico y, como tal, perniciosa para la mujer. Contraponiendo
					civilización a biología, como si la civilización fuese lo bueno y lo
					biológico, pernicioso. Sin embargo, toda cultura y todas las
					civilizaciones son un producto de la biosfera, y no al revés. Como ya
					se ha observado desde el ecofeminismo<NoteLink
						href="_16"
						text="16"
					/>, el patriarcado habría sometido los procesos sexuales de las
					mujeres igual que se apropió de la naturaleza. Por lo tanto, no se
					libera la maternidad rechazando la naturaleza, sino reclamando una
					sociedad en armonía con ella y desarrollando una cultura en sintonía
					con los ecosistemas. A lo largo de la historia, los colectivos de
					madres activistas que han luchado por la soberanía alimentaria y la
					defensa de la tierra desde sus territorios conocen bien esta relación.
				</p>
				<p>
					La maternidad humana forma parte de un diseño perfecto de nuestra
					evolución como especie y está preparada para realizarse con el mayor
					de los placeres. Sólo hay que visibilizar las pulsiones sexuales
					femeninas para desmontar el discurso patriarcal, un discurso destinado
					a someter a la mujer, a conducirla por la senda del sufrimiento, y a
					privarla del placer y del bienestar de su sexualidad.
				</p>
				<p>
					El deseo materno es fuente de placer y de bienestar; y además es
					portador del continuum que nos hace humanos. No sólo la mujer, la
					Humanidad se desangra por la represión del deseo materno: para la
					mujer supone una suerte de castración física y psíquica, y además es
					un eficaz sabotaje a la autorregulación de la vida humana. Un sabotaje
					que está llegando a extremos cercanos a lo irreversible. En este
					sentido, se puede decir que esta noción y este modelo de maternidad
					empiezan ya a ser incompatibles con la sostenibilidad del planeta. Es
					preciso que toda persona en posesión de los conocimientos científicos
					o de la experiencia de la verdadera maternidad alce la voz. No se
					puede seguir callando y, al mismo tiempo, creer que hay un futuro para
					nuestras hijas e hijos.
				</p>
			</section>

			<section class="mb-16 flex flex-col gap-4 text-lg font-medium">
				<h2
					class="font-serif text-xl font-extrabold md:mb-4 md:text-2xl lg:text-4xl"
				>
					Propuestas
				</h2>

				<p>
					En <a href="/propuestas/" class="text-blue-700 hover:underline"
						>esta sección</a
					> recogemos nuestras propuestas para la urgente transformación de una
					sociedad cada día más individualista, competitiva, adultocéntrica,
					consumista, machista, misógina, racista, depredadora de la naturaleza,
					enemiga de las diferencias y fratricida.
				</p>
			</section>

			<footer class="mb-16">
				<h3
					class="pb-0 pr-4 font-serif text-lg font-bold md:pb-4 md:text-xl lg:text-3xl"
				>
					Notas
				</h3>

				<ol class="flex list-inside list-decimal flex-col gap-2">
					<li id="_01">
						Rodrigañez Bustos, Casilda (2021).
						<SimpleExternalLink
							href="https://sites.google.com/site/casildarodriganez/el-deseo-materno-y-la-reconstrucci%C3%B3n-del-orden-simb%C3%B3lico-de-la-madre-2021"
							text="El deseo materno y la reconstrucción del orden simbólico de la madre."
						/>
					</li>
					<li id="_02">
						<SimpleExternalLink
							href="https://amaryi.files.wordpress.com/2007/03/manifiesto.pdf"
							text="Manifiesto para la recuperación de la meternidad (2006) (PDF)."
							type="application/pdf"
						/>
					</li>
					<li id="_03">
						Sau Sánchez, Victoria. "El vacío de la maternidad", Editorial
						Icaria, 1995.
					</li>
					<li id="_04">
						Bergman, Nils & Jill, 2001, <SimpleExternalLink
							href="https://www.youtube.com/watch?v=Kb_4DSrmdZQ"
							text="youtube.com/watch?v=Kb_4DSrmdZQ"
						/> "Le portage kangaroo", “Les dossiers l'allaitement”, Leche League
						France, especial nº 5, 2005
					</li>
					<li id="_05">
						<ul class="flex list-inside list-disc flex-col gap-1 pl-4">
							<li>
								A.N. Schore, "The effects of early relational trauma on right
								brain development, affect regulation, and infant mental health",
								Infant Mental Journal 2001;22 (1-2):201-69
							</li>
							<li>
								J.R.Alberts, "Learning as adaptation of the infant", Acta
								Pediatr Suppl 1994; 397:77-85
							</li>
							<li>
								M.A.Hofer, "Early relationships as regulators of infant
								physiology and behavior", Acta Pediatr Suppl 1994 Jun; 397: 9-18
							</li>
							<li>
								W.R.Fifer, C.M.Moon, "The role of mother's voice in the
								organization of brain function in the newborn", Acta Pediatr
								Suppl 1994; 397: 3-8
							</li>
							<li>
								K.Christensen et al, "Separation distress call in the human
								neonate in the absence of maternal body contact", Acta Pediatr
								1995; 84 (5): 468-73
							</li>
							<li>
								J.S.Rosenblatt, "Psychology of maternal behavior: contribution
								to the clinical understanding of maternal behavior among
								humans", Acta Pediatr Suppl 1994; 397:3-8
							</li>
							<li>
								K.Michelsson et al, "Crying in separated and non-separated
								newborns: sound spectographic analysis", Acta Pediatr 1996 Apr;
								85(4): 471-5
							</li>
							<li>
								B.Lozoff et al, "The mother-newborn relationship: limits of
								adaptability", J. Pediatr 1977; 91 (1): 1-12
							</li>
							<li>
								Schore, A.N."Back to basics: attachment, affect regulation, and
								developing right brain: Linkin neuroscience to pediatrics "
								Pediatr Rev.2005; 26 :204-217
							</li>
							<li>
								Bergman, N.J. "The neuroscience of birth - and the case of zero
								separation". Curationis, 2014; 37(2): el-e4
							</li>
							<li>
								Schonkoff, J.P. & Garner, A.S."The lifelong effects of early
								childhood adversity and toxic stress" Pediatrics, 129 (1),
								e232-e246
							</li>
						</ul>
					</li>
					<li id="_06">
						<SimpleExternalLink
							href="https://www.primalhealthresearch.com/"
							text="Primal Health Research"
						/>
					</li>
					<li id="_07">
						<SimpleExternalLink
							href="https://www.sanidad.gob.es/en/organizacion/sns/planCalidadSNS/pdf/InformeFinalEAPN_revision8marzo2015.pdf"
							text="Informe sobre la Atención al Parto y Nacimiento en el Sistema Nacional de Salud (PDF)"
							type="application/pdf"
						/>
					</li>
					<li id="_08">
						Odent, Michel, “La cientificación del amor”, Editorial Creavida,
						2001
					</li>
					<li id="_09">
						<SimpleExternalLink
							href="https://www.aeped.es/comite-nutricion-y-lactancia-materna/nutricion-infantil/noticias/mejorando-alimentacion-en-los-1000-primeros"
							text="Mejorando la alimentación en los 1000 primeros días para un mejor desarrollo y salud posterior"
						/>
					</li>
					<li id="_10">
						Leboyer, Fréderic, “El parto: crónica de un viaje”, Editorial Alta
						Fulla, 1998
					</li>
					<li id="_11">
						Mead, Margaret, “Sexo y temperamento”, Ediciones Atalaya, 1994
						Prescott, James, “<SimpleExternalLink
							href="http://www.violence.de/prescott/bulletin/article.html"
							text="Body pleasure and the origins of violence"
						/>”, Bulletin of the Atomic Scientists, Nov. 1975,
					</li>
					<li id="_12">
						Odent, Michel, “El bebé es un mamífero”, Editorial Mandala, 1990
					</li>
					<li id="_13">
						DeMause, Lloyd, <SimpleExternalLink
							href="https://psychohistory.com/"
							text="Psychohistory"
						/>
					</li>
					<li id="_14">
						Odent, Michel, “El futuro del Homo”, Editorial Creavida, 2020
					</li>
					<li id="_15">
						<ul class="flex list-inside list-disc flex-col gap-1 pl-4">
							<li>
								<SimpleExternalLink
									href="https://parentinfantfoundation.org.uk/1001-days/"
									text="First 1001 Days Movement"
								/>
							</li>
							<li>
								<SimpleExternalLink
									href="http://anepeducacionprenatal.org/wp-content/uploads/2018/02/The_1001_Critical_Days_Manifesto.pdf"
									text="The 1001 Critical Days (PDF)"
									type="application/pdf"
								/>
							</li>
						</ul>
					</li>
					<li id="_16">
						Shiva, Vandana y Míes, María “Ecofeminismo”, Editorial Icaria, 2015
					</li>
				</ol>
			</footer>
		</article>

		<section class="order-1 md:border-r md:border-r-black">
			<section class="py-8 md:sticky md:top-0 md:pr-8">
				<h3 class="mb-4 text-lg md:text-xl lg:text-2xl">
					Es necesario y urgente cambiar la noción y el modelo vigentes de
					maternidad.
				</h3>

				<section class="mb-4">
					<LinkButton
						href="https://forms.gle/ZFNjYx9iLK8MJpUeA"
						rel="noopener noreferrer external"
						target="_blank"
						text="Firma el manifiesto"
						important={true}
					/>
				</section>

				<section class="mb-4">
					<LinkButton
						href="/files/manifiesto-por-las-madres.pdf"
						text="Descarga el manifiesto (PDF)"
						type="application/pdf"
					/>
				</section>

				<section class="mb-4">
					<video class="h-auto w-full" src="/video/abstract.mp4" controls
					></video>
				</section>
			</section>
		</section>
	</section>
</Base>
