---
import Base from "../layouts/Base.astro";
---

<Base showSignatures={false}>
	<section class="py-12 md:py-32">
		<h1
			class="font-serif font-black text-center text-4xl mb-10 md:text-6xl lg:text-8xl"
		>
			Política de privacidad
		</h1>
	</section>
</Base>
