---
export interface Props {
	href: string;
	text: string;
}

const { href, text } = Astro.props;
---

<a
	href={href}
	class="flex items-center justify-center gap-2 border border-b-0 border-r-0 border-black bg-transparent px-8 py-4 shadow-[#fff_-4px_-4px_0_0,#000_-4px_-4px_0_1px] transition-shadow hover:shadow-[#fff_0_0_0_0,#000_0_0_0_0] md:border-r"
>
	{text}
	<svg
		xmlns="http://www.w3.org/2000/svg"
		fill="none"
		viewBox="0 0 24 24"
		stroke-width="1.5"
		stroke="currentColor"
		class="inline h-8 w-8"
	>
		<path
			stroke-linecap="round"
			stroke-linejoin="round"
			d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
	</svg>
</a>
