---
import SectionButton from "./SectionButton.astro";

export interface Props {
	title: string;
	subtitle: string;
	href: string;
	buttonText: string;
}

const { title, subtitle, href, buttonText } = Astro.props;
---

<section
	class="flex h-60 flex-col items-start justify-end gap-2 border border-b-0 border-black pl-4 pt-4 last-of-type:border-b-0 md:h-72 md:border-0 md:border-b md:pl-8 md:pt-8 lg:h-96 lg:gap-0"
>
	<h2 class="font-serif text-xl font-extrabold md:mb-4 md:text-2xl lg:text-4xl">
		{title}
	</h2>
	<h3 class="pb-0 pr-4 text-lg md:pb-4 md:text-xl lg:text-3xl">
		{subtitle}
	</h3>
	<div class="flex w-full justify-end">
		<SectionButton href={href} text={buttonText} />
	</div>
</section>
