<!-- Meta -->
<meta charset="utf-8" />

<title>:: Manifiesto por la maternidad</title>
<meta name="description" content="{{ description }}" />

<meta
	name="viewport"
	content="width=device-width, height=device-height, initial-scale=1.0"
/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<!-- {% comment %} -->
<!-- {% unless noindex %}
<meta name="robots" content="index, follow" />
{% else %}
<meta name="robots" content="noindex, nofollow" />
{% endunless %} -->
<!-- {% endcomment %} -->
<meta name="robots" content="noindex, nofollow" />

<!-- Generator -->
<meta name="generator" content={Astro.generator} />

<!-- <meta name="author" content="Ãngel Guerra" /> -->

<!-- Application attributes -->
<!-- <meta name="application-name" content="{{ lbl.name }}" /> -->

<!-- see: https://docs.microsoft.com/en-us/previous-versions/windows/internet-explorer/ie-developer/dev-guides/bg182645(v=vs.85)#link-highlighting -->
<meta name="msapplication-tap-highlight" content="no" />
<!-- <meta name="msapplication-TileColor" content="#c084fc" /> -->

<!-- see: https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
<!-- <meta name="apple-mobile-web-app-title" content="{{ lbl.name }}" /> -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta
	name="apple-mobile-web-app-status-bar-style"
	content="black-translucent"
/>
<meta name="apple-touch-fullscreen" content="yes" />

<!-- Author -->
<!-- <meta name="author" content="{{ lbl.fullName }}" /> -->

<!-- Favicon -->
<!-- <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#c084fc" />
<meta name="theme-color" content="#ffffff" /> -->

<!-- Language -->
<meta name="language" content="es" />

<!-- Itemprop -->
<!-- <meta itemprop="name" content="{{ title }} :: {{ lbl.name }}" /> -->
<!-- <meta itemprop="description" content="{{ description }}" /> -->
<!-- <meta itemprop="image" content="{{ socialImage }}" /> -->

<!-- Open Graph -->
<!-- <meta property="og:type" content="website" /> -->
<!-- <meta property="og:site_name" content="{{ lbl.name }}" /> -->
<!-- <meta property="og:title" content="{{ title }}" /> -->
<!-- <meta property="og:description" content="{{ description }}" /> -->
<!-- <meta property="og:url" content="{{ page.url | absoluteUrl }}" /> -->
<meta property="og:locale" content="es" />
<!-- <meta property="og:image" content="{{ socialImage }}" /> -->
<!-- <meta property="og:image:type" content="image/webp" /> -->
<!-- <meta property="og:image:alt" content="Logo de la {{ lbl.fullName }}" /> -->

<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<!-- <meta name="twitter:title" content="{{ title }}" /> -->
<!-- <meta name="twitter:description" content="{{ description }}" /> -->
<!-- <meta name="twitter:url" content="{{ page.url | absoluteUrl }}" /> -->
<!-- <meta name="twitter:image" content="{{ socialImage }}" /> -->
<!-- <meta name="twitter:image:alt" content="Logo de la {{ lbl.fullName }}" /> -->

<!-- Schema -->
<!-- <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "url": "{{ lbl.web }}",
    "name": "{{ lbl.name }}",
    "slogan": "{{ lbl.slogan }}",
    "logo": {
      "@type": "imageObject",
      "url": "{{ socialImage }}"
    },
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "{{ lbl.address.locality }}",
      "addressRegion": "{{ lbl.address.region }}",
      "addressCountry": "{{ lbl.address.country }}",
      "postalCode": "{{ lbl.address.postalCode }}",
      "streetAddress": "{{ lbl.address.streetAddress }}"
    },
    "contactPoint": [
      {
        "@type": "ContactPoint",
        "areaServed": "Cantabria",
        "telephone": "+34646785364",
        "availableLanguage": ["Spanish"],
        "contactType": ["info"]
      }
    ]
  }
</script> -->
