---
import NoteLink from "@components/ui/NoteLink.astro";
---

<section
  id="el-deseo-materno"
  class="mb-16 flex flex-col gap-4 text-lg font-medium"
>
  <header class="sticky top-0 z-10 -mt-8 bg-zinc-50 pb-4 pt-8">
    <h2 class="font-serif text-2xl font-extrabold lg:text-4xl">
      El deseo materno
    </h2>
  </header>
  <p>
    El deseo materno es una pulsión física y psíquica que brota del cuerpo de
    las mujeres con mucha fuerza, porque está encaminado a impulsar la gestación
    nada menos que de una vida humana. Produce un gran placer y bienestar porque
    es de hecho una expansión de la sexualidad de la mujer.
  </p>

  <p>
    El deseo materno es una identificación absoluta con el bienestar de la
    criatura humana; sus cualidades son la complacencia y el don gratuito porque
    cuando brota está sin contaminar de las relaciones de competitividad y de
    poder que prevalecen en nuestra sociedad. En la mujer que da a luz no hay un
    ápice de voluntad de dominio, sólo hay deseo de complacencia y de cuidado de
    la nueva vida, con plena identificación con el bienestar de la criatura.
  </p>
  <p>
    La criatura humana nace también enamorada de su madre y reconoce su cuerpo
    como el lugar adecuado para estar en este mundo. Su psiquismo se ha
    constituido durante la gestación en interacción con el psiquismo de la
    madre, impregnado del deseo materno, formándose así nuestra capacidad de
    amar y de empatizar, que nos acompañará de por vida.
  </p>
  <p>
    La maternidad transmite pues la capacidad de empatizar, tiene una función
    social de primer orden, y al gestar la criatura humana, gesta también su
    sociabilidad.
  </p>
  <p>
    Ningún organismo vivo está diseñado para vivir aisladamente y, en nuestro
    caso, la capacidad de empatizar es lo que nos hace a los humanos seres
    sociables, conectándonos unos con otros, siguiendo la regla de la Biosfera
    del encadenamiento de todos los ecosistemas y de todos los seres vivos.
    Somos seres interdependientes y nuestra autorregulación depende de nuestra
    conexión con las demás personas.
  </p>
  <p>
    La civilización patriarcal descansa en una determinada supresión de
    importantes aspectos de la función materna, precisamente con el objeto de
    bloquear el desarrollo de la empatía y de la sociabilidad humana, cualidades
    que obstaculizan las relaciones competitivas, el fratricidio y las guerras.
    Además, en la actualidad nos enfrentamos a una virulenta reacción patriarcal
    que trata de culpabilizar a la propia mujer, afectando especialmente a las
    madres.
  </p>
  <p>
    Durante siglos se ha ejercido una represión sobre la mujer, encaminada a
    eliminar sus deseos y a producir una desconexión interna de sus pulsiones,
    alterando sus funciones sexuales y reproductivas. La consecuencia es que la
    reproducción humana se realiza con una falta de madre, que en la actualidad
    se ha generalizado en todo el mundo, produciendo una carencia y un
    acorazamiento que arrastramos todos los seres humanos.
  </p>
  <p>
    En nuestro mundo reina el malestar, la confusión, las creencias fratricidas,
    la crispación y el deseo de venganza. Los seres humanos crecemos con un
    fuerte acorazamiento psicosomático, adaptados a las relaciones de
    dominación, a la competitividad y al fratricidio. Muchas medidas políticas
    se toman desde el despecho. Quizá sea significativo que la palabra
    "despecho" proceda de quitar el pecho, del destete prematuro.
  </p>
  <p>
    El patriarcado ha promovido el fratricidio, la guerra de los sexos, la
    guerra entre generaciones, entre capital y trabajo, la devastación de la
    naturaleza, ha eliminado muchos aspectos fundamentales de la función
    materna, pero no ha podido eliminar el deseo materno que brota de nuestros
    cuerpos, ni la capacidad de amar que este deseo transmite.
  </p>
  <p>
    Por eso, aunque reine el malestar en nuestra cultura y en nuestras
    relaciones sociales, en el interior del ser humano sobrevive el germen de la
    recuperación y de la reconstrucción de una sociedad solidaria y cooperativa.
    Son los chispazos del amor materno que, por ejemplo, sentimos cuando
    recordamos momentos felices de nuestra infancia. El deseo de armonía, de
    compartir, de complacer, del don gratuito… son las cualidades del deseo
    materno y constituyen el orden simbólico de la madre<NoteLink
      href="_01"
      text="1"
    />, que a veces sentimos y reconocemos dentro de cada persona. Aunque en
    nuestro mundo solamente en determinadas circunstancias se puede abrir paso
    el orden simbólico de la madre, todas y todos tenemos la experiencia y la
    constancia de que las cualidades del deseo materno existen, son una
    realidad, y son susceptibles de desarrollarse.
  </p>
  <p>
    Tomar conciencia de la maternidad no significa sentir culpa, porque todas
    hemos sido madres en la cultura en la que hemos nacido y crecido. Nuestro
    propósito es luchar para que se sepa qué es la maternidad, cómo la sociedad
    impide su desarrollo y que esto sirva para futuras madres.
  </p>
  <p>
    Diversos grupos de mujeres -y de hombres- y diversas asociaciones, llevamos
    años tratando de llamar la atención sobre la noción y el modelo de
    maternidad vigentes, como causa del malestar de nuestra sociedad. De hecho,
    en octubre de 2006, ya se publicó un manifiesto sobre la necesidad de
    recuperar la maternidad, al que nos remitimos como complemento del presente
    manifiesto<NoteLink href="_02" text="2" />.
  </p>
</section>
