---
import NoteLink from "@components/ui/NoteLink.astro";
---

<section
  id="el-futuro-de-la-humanidad"
  class="mb-16 flex flex-col gap-4 text-lg font-medium"
>
  <header class="sticky top-0 z-10 -mt-8 bg-zinc-50 pb-4 pt-8">
    <h2 class="font-serif text-2xl font-extrabold lg:text-4xl">
      El futuro de la humanidad
    </h2>
  </header>

  <p>
    Uno de los argumentos más utilizados en la propaganda de los poderes
    fácticos contra la maternidad es hacer creer que las consecuencias de su
    represión son lo original y lo primario.
  </p>
  <p>
    Como si la soledad, el sufrimiento y la esclavitud fueran condiciones
    propias, per se, de la maternidad, y no el resultado de su falta de
    reconocimiento social, económico, psíquico y fisiológico. Además, se hace
    llegar a las mujeres el mensaje de que la maternidad es algo biológico y,
    como tal, perniciosa para la mujer. Contraponiendo civilización a biología,
    como si la civilización fuese lo bueno y lo biológico, pernicioso. Sin
    embargo, toda cultura y todas las civilizaciones son un producto de la
    biosfera, y no al revés. Como ya se ha observado desde el ecofeminismo<NoteLink
      href="_16"
      text="16"
    />, el patriarcado habría sometido los procesos sexuales de las mujeres
    igual que se apropió de la naturaleza. Por lo tanto, no se libera la
    maternidad rechazando la naturaleza, sino reclamando una sociedad en armonía
    con ella y desarrollando una cultura en sintonía con los ecosistemas. A lo
    largo de la historia, los colectivos de madres activistas que han luchado
    por la soberanía alimentaria y la defensa de la tierra desde sus territorios
    conocen bien esta relación.
  </p>
  <p>
    La maternidad humana forma parte de un diseño perfecto de nuestra evolución
    como especie y está preparada para realizarse con el mayor de los placeres.
    Sólo hay que visibilizar las pulsiones sexuales femeninas para desmontar el
    discurso patriarcal, un discurso destinado a someter a la mujer, a
    conducirla por la senda del sufrimiento, y a privarla del placer y del
    bienestar de su sexualidad.
  </p>
  <p>
    El deseo materno es fuente de placer y de bienestar; y además es portador
    del continuum que nos hace humanos. No sólo la mujer, la Humanidad se
    desangra por la represión del deseo materno: para la mujer supone una suerte
    de castración física y psíquica, y además es un eficaz sabotaje a la
    autorregulación de la vida humana. Un sabotaje que está llegando a extremos
    cercanos a lo irreversible. En este sentido, se puede decir que esta noción
    y este modelo de maternidad empiezan ya a ser incompatibles con la
    sostenibilidad del planeta. Es preciso que toda persona en posesión de los
    conocimientos científicos o de la experiencia de la verdadera maternidad
    alce la voz. No se puede seguir callando y, al mismo tiempo, creer que hay
    un futuro para nuestras hijas e hijos.
  </p>
</section>
