---

---

<section
  id="modelo-actual-dominante-de-maternidad"
  class="mb-16 flex flex-col gap-4 text-lg font-medium"
>
  <header class="sticky top-0 z-10 -mt-8 bg-zinc-50 pb-4 pt-8">
    <h2 class="font-serif text-2xl font-extrabold lg:text-4xl">
      Modelo actual dominante de maternidad
    </h2>
  </header>

  <p>
    En nuestra sociedad y en nuestra cultura existe una noción y un modelo de
    maternidad que ha cuajado, suplantando a la verdadera maternidad. Ha llegado
    un momento en el que creemos que es necesario y urgente cambiar este estado
    de cosas y recuperar la verdadera maternidad. En este manifiesto hacemos una
    breve explicación de la situación actual en la que nos encontramos y las
    principales razones por las que hacemos un llamamiento para este cambio.
  </p>
  <p>
    Vamos a señalar tres aspectos o razones por los que debe cambiarse el modelo
    de maternidad de nuestra sociedad:
  </p>
  <ol class="flex list-inside list-decimal flex-col gap-2">
    <li>
      <a href="#la-maternidad-actual-es-esclavitud-de-hecho-para-la-mujer">
        Es una <b>esclavitud</b> de hecho para la mujer.
      </a>
    </li>
    <li>
      <a href="#el-modelo-de-maternidad-actual-produce-sufrimiento">
        Es <b>sufrimiento</b> para la mujer y para la criatura humana: en el parto,
        en el inmediato postparto y en toda la exterogestación.
      </a>
    </li>
    <li>
      <a href="#el-actual-modelo-de-maternidad-produce-violencia">
        Bloquea la sociabilidad humana y produce <b>la violencia</b> que sostiene
        el régimen de dominación y de fratricidio de nuestra sociedad.
      </a>
    </li>
  </ol>
</section>
