---
import SimpleExternalLink from "@components/ui/SimpleExternalLink.astro";
---

<footer class="mb-16">
  <section class="sticky top-0 z-10 -mt-8 bg-zinc-50 pb-4 pt-8">
    <h3
      class="pb-0 pr-4 font-serif text-lg font-bold md:pb-4 md:text-xl lg:text-3xl"
    >
      Notas
    </h3>
  </section>

  <ol class="flex list-inside list-decimal flex-col gap-2">
    <li id="_01">
      Rodrigañez Bustos, Casilda (2021).
      <SimpleExternalLink
        href="https://sites.google.com/site/casildarodriganez/el-deseo-materno-y-la-reconstrucci%C3%B3n-del-orden-simb%C3%B3lico-de-la-madre-2021"
        text="El deseo materno y la reconstrucción del orden simbólico de la madre."
      />
    </li>
    <li id="_02">
      <SimpleExternalLink
        href="https://amaryi.files.wordpress.com/2007/03/manifiesto.pdf"
        text="Manifiesto para la recuperación de la meternidad (2006) (PDF)."
        type="application/pdf"
      />
    </li>
    <li id="_03">
      Sau Sánchez, Victoria. "El vacío de la maternidad", Editorial Icaria,
      1995.
    </li>
    <li id="_04">
      Bergman, Nils & Jill, 2001, <SimpleExternalLink
        href="https://www.youtube.com/watch?v=Kb_4DSrmdZQ"
        text="youtube.com/watch?v=Kb_4DSrmdZQ"
      /> "Le portage kangaroo", “Les dossiers l'allaitement”, Leche League France,
      especial nº 5, 2005
    </li>
    <li id="_05">
      <ul class="flex list-inside list-disc flex-col gap-1 pl-4">
        <li>
          A.N. Schore, "The effects of early relational trauma on right brain
          development, affect regulation, and infant mental health", Infant
          Mental Journal 2001;22 (1-2):201-69
        </li>
        <li>
          J.R.Alberts, "Learning as adaptation of the infant", Acta Pediatr
          Suppl 1994; 397:77-85
        </li>
        <li>
          M.A.Hofer, "Early relationships as regulators of infant physiology and
          behavior", Acta Pediatr Suppl 1994 Jun; 397: 9-18
        </li>
        <li>
          W.R.Fifer, C.M.Moon, "The role of mother's voice in the organization
          of brain function in the newborn", Acta Pediatr Suppl 1994; 397: 3-8
        </li>
        <li>
          K.Christensen et al, "Separation distress call in the human neonate in
          the absence of maternal body contact", Acta Pediatr 1995; 84 (5):
          468-73
        </li>
        <li>
          J.S.Rosenblatt, "Psychology of maternal behavior: contribution to the
          clinical understanding of maternal behavior among humans", Acta
          Pediatr Suppl 1994; 397:3-8
        </li>
        <li>
          K.Michelsson et al, "Crying in separated and non-separated newborns:
          sound spectographic analysis", Acta Pediatr 1996 Apr; 85(4): 471-5
        </li>
        <li>
          B.Lozoff et al, "The mother-newborn relationship: limits of
          adaptability", J. Pediatr 1977; 91 (1): 1-12
        </li>
        <li>
          Schore, A.N."Back to basics: attachment, affect regulation, and
          developing right brain: Linkin neuroscience to pediatrics " Pediatr
          Rev.2005; 26 :204-217
        </li>
        <li>
          Bergman, N.J. "The neuroscience of birth - and the case of zero
          separation". Curationis, 2014; 37(2): el-e4
        </li>
        <li>
          Schonkoff, J.P. & Garner, A.S."The lifelong effects of early childhood
          adversity and toxic stress" Pediatrics, 129 (1), e232-e246
        </li>
      </ul>
    </li>
    <li id="_06">
      <SimpleExternalLink
        href="https://www.primalhealthresearch.com/"
        text="Primal Health Research"
      />
    </li>
    <li id="_07">
      <SimpleExternalLink
        href="https://www.sanidad.gob.es/en/organizacion/sns/planCalidadSNS/pdf/InformeFinalEAPN_revision8marzo2015.pdf"
        text="Informe sobre la Atención al Parto y Nacimiento en el Sistema Nacional de Salud (PDF)"
        type="application/pdf"
      />
    </li>
    <li id="_08">
      Odent, Michel, “La cientificación del amor”, Editorial Creavida, 2001
    </li>
    <li id="_09">
      <SimpleExternalLink
        href="https://www.aeped.es/comite-nutricion-y-lactancia-materna/nutricion-infantil/noticias/mejorando-alimentacion-en-los-1000-primeros"
        text="Mejorando la alimentación en los 1000 primeros días para un mejor desarrollo y salud posterior"
      />
    </li>
    <li id="_10">
      Leboyer, Fréderic, “El parto: crónica de un viaje”, Editorial Alta Fulla,
      1998
    </li>
    <li id="_11">
      Mead, Margaret, “Sexo y temperamento”, Ediciones Atalaya, 1994 Prescott,
      James, “<SimpleExternalLink
        href="http://www.violence.de/prescott/bulletin/article.html"
        text="Body pleasure and the origins of violence"
      />”, Bulletin of the Atomic Scientists, Nov. 1975,
    </li>
    <li id="_12">
      Odent, Michel, “El bebé es un mamífero”, Editorial Mandala, 1990
    </li>
    <li id="_13">
      DeMause, Lloyd, <SimpleExternalLink
        href="https://psychohistory.com/"
        text="Psychohistory"
      />
    </li>
    <li id="_14">
      Odent, Michel, “El futuro del Homo”, Editorial Creavida, 2020
    </li>
    <li id="_15">
      <ul class="flex list-inside list-disc flex-col gap-1 pl-4">
        <li>
          <SimpleExternalLink
            href="https://parentinfantfoundation.org.uk/1001-days/"
            text="First 1001 Days Movement"
          />
        </li>
        <li>
          <SimpleExternalLink
            href="http://anepeducacionprenatal.org/wp-content/uploads/2018/02/The_1001_Critical_Days_Manifesto.pdf"
            text="The 1001 Critical Days (PDF)"
            type="application/pdf"
          />
        </li>
      </ul>
    </li>
    <li id="_16">
      Shiva, Vandana y Míes, María “Ecofeminismo”, Editorial Icaria, 2015
    </li>
  </ol>
</footer>
