---
import "@fontsource-variable/bodoni-moda";
import "@fontsource-variable/raleway";

import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Signatures from "@components/Signatures.astro";

interface Props {
  title: string;
  description: string;
  showSignatures?: boolean;
  noindex?: boolean;
}

const {
  title,
  description,
  showSignatures = true,
  noindex = false,
} = Astro.props;
---

<!doctype html>
<html lang="es-ES" class="scroll-smooth">
  <head>
    <Head title={title} description={description} noindex={noindex} />
  </head>
  <body class="flex max-h-screen flex-col bg-zinc-50 px-4 md:mx-20 md:px-0">
    <Header />

    <main class="grow border-b border-b-black">
      <slot />
    </main>

    {showSignatures && <Signatures />}

    <footer class="grid grid-cols-1 divide-black md:grid-cols-2 md:divide-x">
      <div class="py-6 text-center">
        <a href="/politica-de-privacidad-y-aviso-legal/"
          >Política de privacidad y aviso legal</a
        >
      </div>
      <div class="py-6 text-center">
        <a href="/politica-de-cookies/">Política de cookies</a>
      </div>
    </footer>
    <style is:global>
      [x-cloak] {
        display: none !important;
      }
    </style>
  </body>
</html>
